html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #FAEBD7;
}

#container {
    width: 50vw;
    height: 100vh;
    left: 0px;
    top: 0;
    -webkit-perspective: 800;
    -webkit-transform: translate(-50px, -10px);
}

$paneHeight: 220px;
$paneWidth: 80px;

#pane4 {
    background-color: #00688B;
}

ul {
  height: $paneHeight;
  width: $paneWidth;
  font-family: 'BigBottomCartoonRegular';
  color:  #1e252f;
  font-weight: bold;
  font-size: 50px;
  list-style: none;
  margin: auto;
  padding: 0;
  position: absolute;
  left: 0; top: 0; bottom: 0; right: 0;
}

li {
    border: 2px solid  #00688B;
  line-height: $paneHeight;
  position: absolute;
  text-align: center;
  width: 100%;
  background: #63D1F4;
}

.plain-text {
    height: 90vh;
    width: 60vw;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 5vh;
    right: 5vw;
    font-family: 'SimplePrintRegular';
    font-size: 25px;
    color: #292f33;
}

.blurry-text {
   color: transparent;
   text-shadow: 0 0 5px rgba(41,47,51,0.5);
}

.enlarge-text {
    width: 90vw;
    z-index: 200;
}

#title {
    font-family: 'SimplePrintBold';
    padding: 5% 5% 0 5%;
    font-size: 40px;
    margin: 0;
}

#text-body {
    padding: 5% 5% 5% 5%;
    margin: 0;
}

#arrow-right {
  width: 0;
  height: 0;
  border-top: 5vh solid transparent;
  border-bottom: 5vh solid transparent;
  border-left: 5vh solid #00688B;
  position: absolute;
  top: 42vh;
  left: 25vw;
}
