html, body {
  height: 100vh;
  width: 100vw;
  -webkit-perspective: 800;
}

$paneSize: 150px;

ul {
  height: $paneSize;
  width: $paneSize;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 70px;
  list-style: none;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  // -webkit-transform-style: preserve-3d;
  // -webkit-animation-iteration-count: infinite;
  // -webkit-animation-timing-function: linear;
  // -webkit-animation-name: x-spin;
  // -webkit-animation-duration: 8s;
}

li {

  line-height: $paneSize;
  position: absolute;
  text-align: center;
  width: 100%;
  //-webkit-backface-visibility: hidden;
  background: rgba(212,62,62,1);
}
//
// @-webkit-keyframes x-spin {
//   0%    { -webkit-transform: rotateX(0deg); }
//   50%   { -webkit-transform: rotateX(180deg); }
//   100%  { -webkit-transform: rotateX(360deg); }
// }
